:root{
    --text-pink: #e399a6;
    --text-purple: #680ed3;
    --text-red: #f44336;
    --text-orange: #ff9a00;
    --background-yellow: #ffc600;
    --backgorund-green: #00c997;
}


.welcome-info {
    background: url("../images/apple_background.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.text-pink {
    color: var(--text-pink);
}

.text-purple {
    color: var(--text-purple);
}

.text-red {
    color: var(--text-red);

}
.text-orange {
    color: var(--text-orange);
}
.background-yellow {
    background: var(--background-yellow);
    border: var(--background-yellow);
}
.background-green {
    color: var(--backgorund-green);
    border-color: var(--backgorund-green);
}



